<template>
<div>
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <router-link class="button is-light is-outlined back-button" to="/">&lt;</router-link>
        <h1 class="title is-inline">Downloads</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="notification is-info">
        All downloads are for x86_64 systems. If you're unsure whether your system is compatible, it probably is. If not, then you'll have to compile Workshop 2 yourself.
      </div>

      <h2 class="subtitle">Development builds (Newest first)</h2>

      <p>Hey so the provider I was using to host the downloads went down so have these maybe or maybe-not tempoary link to the last working build while that was still a thing</p>

      <DownloadEntry
        releaseDate="2021-02-09T19:17:30.002Z"
        versionName="ade62a8be83c5532bfb463a7f910d81e502aac3c"
        winDownload="https://gitlab.com/CraftedCart/smblevelworkshop2_files/-/blob/master/smblevelworkshop2-develop/ade62a8be83c5532bfb463a7f910d81e502aac3c/smblevelworkshop2-develop-withdeps-win-x86_64-ade62a8be83c5532bfb463a7f910d81e502aac3c.zip"
        />

      <DownloadEntry
        releaseDate="2020-09-28T01:34:34.282Z"
        versionName="fb9fe147e5ad66c2ee5111d0840689bf0190ffbd"
        winDownload="https://gitlab.com/CraftedCart/smblevelworkshop2_files/-/blob/master/smblevelworkshop2-develop/fb9fe147e5ad66c2ee5111d0840689bf0190ffbd/smblevelworkshop2-develop-withdeps-win-x86_64-fb9fe147e5ad66c2ee5111d0840689bf0190ffbd.zip"
        macDownload="https://gitlab.com/CraftedCart/smblevelworkshop2_files/-/blob/master/smblevelworkshop2-develop/fb9fe147e5ad66c2ee5111d0840689bf0190ffbd/smblevelworkshop2-develop-withdeps-macos-x86_64-fb9fe147e5ad66c2ee5111d0840689bf0190ffbd.tar.gz"
        linuxDownload="https://gitlab.com/CraftedCart/smblevelworkshop2_files/-/blob/master/smblevelworkshop2-develop/fb9fe147e5ad66c2ee5111d0840689bf0190ffbd/smblevelworkshop2-develop-withdeps-linux-x86_64-fb9fe147e5ad66c2ee5111d0840689bf0190ffbd.tar.gz"
        />
    </div>
  </section>
</div>
</template>

<script>
import DownloadEntry from '../components/DownloadEntry.vue';

export default {
  name: 'Download',
  components: {
    DownloadEntry
  },
};
</script>

<style scoped>
.back-button {
  margin-right: 24px;
}
</style>
