<template>
<div>
  <section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">SMB Level Workshop 2</h1>
            <h2 class="subtitle">A set of tools to tear apart Super Monkey Ball</h2>

            <div class="buttons">
              <router-link class="button is-black is-large is-inverted is-fullwidth" to="/download">Download</router-link>
              <a class="button is-black is-medium is-inverted is-fullwidth" href="https://discord.gg/CEYjvDj">Discord</a>
              <a class="button is-black is-inverted is-outlined is-fullwidth" href="https://gitlab.com/CraftedCart/smblevelworkshop2">Source code</a>
              <a class="button is-black is-inverted is-outlined is-fullwidth" href="https://craftedcart.github.io/SMBLevelWorkshop/documentation/index.html">Documentation</a>
            </div>
          </div>

          <div class="column">
            <img src="img/ws2.svg" alt="SMB Level Workshop 2 drawing">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
export default {
  name: 'Home'
};
</script>
