<template>
<div class="box">
  <div class="columns">
    <div class="column">
      <h2 class="title is-5">Release date</h2>
      {{ releaseDate }}
    </div>
    <div class="column">
      <h2 class="title is-5">Version</h2>
      {{ versionName }}
    </div>
    <div class="column is-narrow is-vertical-center">
      <div class="field has-addons">
        <p class="control" v-if="winDownload"><a class="button" :href="winDownload"><i class="fab fa-windows"></i>&nbsp;Windows</a></p>
        <p class="control" v-if="macDownload"><a class="button" :href="macDownload"><i class="fab fa-apple"></i>&nbsp;macOS</a></p>
        <p class="control" v-if="linuxDownload"><a class="button" :href="linuxDownload"><i class="fab fa-linux"></i>&nbsp;Linux</a></p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'DownloadEntry',
  props: {
    releaseDate: String,
    versionName: String,
    winDownload: String,
    macDownload: String,
    linuxDownload: String
  }
};
</script>

<style>
.is-vertical-center {
  display: flex;
  align-items: center;
}
</style>
