<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
/* Import Bulma's core */
@import "~bulma/sass/utilities/_all";

/* Set your colors */
$primary: $turquoise;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

/* Setup $colors to use as bulma classes (e.g. 'is-twitter') */
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

/* Links */
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/* Import Bulma and Buefy styles */
@import "~bulma";
@import "~buefy/src/scss/buefy";

#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
